body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: #f3f3f3;
}

header {
    background: #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* MENU */
.menu {
    list-style: none;
    padding: 0;
}
.menu li {
    margin: 12px;
}
.menu a, .volver {
    background: royalblue;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

/* Actividad 1 */
.btn-prueba {
    background-color: royalblue;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: .2s;
}
.btn-prueba:active {
    background: darkorange;
    transform: scale(1.2);
}

/* Actividad 2 y 4 */
.cuadro {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    animation: mover 4s infinite;
    transition: transform .3s;
}
.cuadro:hover { transform: scale(1.3); }

@keyframes mover {
    0% { transform: translateX(0); background: red; }
    25% { transform: translateX(100px); background: green; }
    50% { transform: translateX(0); background: blue; }
    75% { transform: translateX(-100px); background: purple; }
    100% { transform: translateX(0); background: red; }
}

/* Actividad 3 & 5 */
.texto-animado {
    animation: girarTexto 2.5s infinite;
}
.rapido {
    animation-duration: 1.2s;
}
.lento {
    animation-duration: 5s;
}

@keyframes girarTexto {
    0% { transform: rotate(0deg) translateY(0); }
    50% { transform: rotate(360deg) translateY(-10px); }
    100% { transform: rotate(0deg) translateY(0); }
}
